API_BASE = INSERT API_BASE
API_VERSION = INSERT API_VERSION
API_KEY = INSERT API_VERSION
COOKIE_TOKEN = INSERT API_VERSION
TELE_BOT_TOKEN = INSERT API_VERSION

######################
# For magnet testing #
######################
MAGNET_TEST = INSERT API_VERSION
