API_BASE = INSERT API_BASE
API_VERSION = INSERT API_VERSION
API_KEY = INSERT API_KEY
COOKIE_TOKEN = INSERT COOKIE_TOKEN
TELE_BOT_TOKEN = INSERT TELE_BOT_TOKEN

######################
# For magnet testing #
######################
MAGNET_TEST = INSERT MAGNET_TEST
BIG_BUG_MAGNET = INSERT BIG_BUG_MAGNET